.modal-container {
    opacity:0;
    visibility:hidden;
    border: red solid;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal {
    position:relative;
    width: 50%;
    height: 50%;
    background-color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: transform 1s;
    transform:translateY(0%);
    border-radius: 10px;

}

.modal-close{
    transform: translateY(-200%);
}
.close{
    position:absolute;
    right:5px;
    top:5px;
    display: inline-block;
    width:25px;
    height:25px;
    background-color: #c44a4a;
    line-height: 25px;
    color: #f5f5f5;
    cursor: pointer;
}

.modal img{
    width: 30%;
}